*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    margin-top: 76px;
    margin-left: 430px;
    font-weight: 400;
}
.imgDiv{
    width: 60vw;
    margin: auto;
    margin-top: 15px;
}
.imgDiv img{
    width: 100%;
}
.contentDiv{
    width: 40%;
    margin: auto;
}
.contentDiv div{
    margin-top: 20px;
}
.contentDiv .firstPara{
    margin-top: 15px;
}
.featureImgDiv img{
    width: 100%;
}
footer{
    width: 40%;
    margin: 70px auto 0 auto;
}
footer p{
    font-style: italic;
}